@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-image: url(https://t4.ftcdn.net/jpg/04/60/71/01/360_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(216, 206, 206, 0.5);
    background:black;
    border-radius: 2px;
    margin-top: 10px;
    opacity: 0.7;
}

#pass-box {
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border-color: white;
}
#save{
    width: 100%;
    font-size: 20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border-color: aliceblue;

}
.popup{
    width:400px;
    background-color: #fff;
    border-radius:6px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.8);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}
.popup p{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;   
}
 .open-popup{
    visibility: visible;
    top:70%;
    transform: translate(-50%,-50%) scale(1);

     
 }
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:#fff;
    border:0;
    outline:none;
    font-size: 18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
    color:#fff;
}